body {
	font-family: 'Exo 2', sans-serif;
	padding-bottom: 40px;
	color: #fff;
	background: #3f4c6b;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjM2Y0YzZiIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNmNGM2YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(-45deg, #3f4c6b 0%, #3f4c6b 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#3f4c6b), color-stop(100%,#3f4c6b));
	background: -webkit-linear-gradient(-45deg, #3f4c6b 0%,#3f4c6b 100%);
	background: -o-linear-gradient(-45deg, #3f4c6b 0%,#3f4c6b 100%);
	background: -ms-linear-gradient(-45deg, #3f4c6b 0%,#3f4c6b 100%);
	background: linear-gradient(135deg, #3f4c6b 0%,#3f4c6b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#3f4c6b',GradientType=1 );
}

p {
	font-family: 'Exo 2', sans-serif;
	text-align: left;
	color: #fff;
	line-height: 1.5;
}

p.text {
	font-family: 'Exo 2', sans-serif;
	text-align: left;
	color: #fff;
	line-height: 1.5;
}

a.website {
    color: #CF3735;
    text-decoration: none;
}

a.link {
    color: #FFFFFF;
    text-decoration: none;
}

.pricing-tables-jumbotron {
	text-align: center;
	background: none;
}

.pricing-tables-jumbotron>h1, 
.pricing-tables-jumbotron>h2 {
	font-family: 'Exo 2', sans-serif;
}

.plan {
	background: #f9f9f9;
	box-shadow: 0 0 1px rgba(0, 0, 0, .2);
	border-radius: 4px 4px 0 0;
	position: relative;
	margin: 20px 0;
	font-family: 'Exo 2', sans-serif;
	text-align: center;
	color: #333;	
}

.plan:hover .hided-icon {
	color: #fff;
	padding: 0 10px;
}

.plan>.plan-title {
	padding: 20px;	
}	
	
.plan>.plan-title>h3 {
	font-family: 'Exo 2', sans-serif;
	font-weight: bold;
	font-size: 30px;
	text-transform: uppercase;
	margin: 0;
}

.plan>.plan-title>span {
	font-style: italic;
	font-size: 16px;
}

.plan>.plan-price {
	background: #fff;
	padding: 0 0 10px;
	color: #cf3735;
}
	
.plan>.plan-price>.price {
	display: block;
	font-size: 72px;
	font-weight: bold;
	font-style: italic;
}	

.plan>.plan-price>.period {
	font-size: 14px;
}

.plan .plan-list {
	padding: 0;
}

.plan .item-list {
	list-style: none;
	padding: 0;
}

.plan .item-list li:nth-child(even) {
	background: #fdfdfd;
}

.plan .item-list>li {
	padding: 10px 5px;
	font-size: 16px;
}

.plan .btn {
	width: 100%;
	padding: 18px 8px;
	border-radius: 0;
	border: none;
	text-transform: uppercase;
}

.plan .btn-success {
	color: #fff;
	background: #cf3735;
}	

.plan .btn-success:hover {
	background: #c52422;
}

.plan .hided-icon {
	color: #cf3735;	
	margin-left: -14px;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
		 -o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;	
}

.attached>.col-md-4:first-child .plan,
.attached>.col-md-3:first-child .plan {
	border-radius: 4px 0 0 0;
}

.attached>.col-md-4:last-child .plan,
.attached>.col-md-3:last-child .plan {
	border-radius: 0 4px 0 0;
}

.attached>.col-md-4, 
.attached>.col-md-3 {
	padding-left: 0;
	padding-right: 0;
}

.attached .plan {
	margin-top: 8px;
	border-radius: 0;
}

.attached .most-popular {
	position: relative;
	z-index: 2;
	margin-top: -8px;
	border-radius: 4px 4px 0 0;
}

.attached .most-popular>.plan-title {
	padding: 28px 20px;
}

@media (max-width: 768px) {
	.attached>.col-md-4,
	.attached>.col-md-3 {
		padding-left: 15px;
		padding-right: 15px;
	}
	.attached>.col-md-4:first-child .plan,
	.attached>.col-md-3:first-child .plan {
		border-radius: 4px 4px 0 0;
	}

	.attached>.col-md-4:last-child .plan,
	.attached>.col-md-3:last-child .plan {
		border-radius: 4px 4px 0 0;
	}
}